extends includes/layout.pug

block content
  include includes/recent-posts.pug

  if (theme.paginator)
    div(class="paginator")
      -
        var options = {
          prev_text: '上一页',
          next_text: '下一页'
        }
      != paginator(options)

  div.oldblog
    p.text-center
      a(href="http://old-blog.smallyu.net", target="_blank")
        span smallyu的旧博客（old-blog.smallyu.net）
  if theme.footer.display
    div.footer
      p.text-center= theme.footer.context